﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Uygulamam</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Wellfleet" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sancreek" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
</head>
<body>
  
                <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                    <div style="background-color: #490202" class="container-fluid">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <a class="navbar-brand" href="/Home">
                            <font face='Creepster' cursive; color=#F2E2E2>
                                <h2 style="margin-top: 0px;"> TUGCEDEKOR  </h2>
                            </font>
                        </a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/Home/Index"><font color=#A09898 face='Wellfleet'cursive;> Alışverişe Başla </font> &nbsp;&nbsp;&nbsp; |  </a>
                                </li>
                                <li>
                                    <a href="/Home/Blog"> <font color=#A09898 face='Wellfleet'cursive;> Blog </font> &nbsp; &nbsp;&nbsp;   |</a>
                                </li>
                                <li>
                                    <a href="/Home/About"> <font color=#A09898 face='Wellfleet'cursive;> Hakkımızda </font> &nbsp; &nbsp; &nbsp;|</a>
                                </li>
                                <li>
                                    <a href="/Home/Contact"> <font color=#A09898 face='Wellfleet'cursive;> Üye Girişi </font> &nbsp; &nbsp;| </a>
                                </li>
                                <li>
                                    <a href="/Home/Sepet">
                                        </font>
                                        <font color=#A09898 face='Wellfleet'cursive;>    Alışveriş Sepeti </font>
                                        <font color=#F2E2E2>
                                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>    &nbsp;&nbsp;&nbsp;
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
   @*    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Yuvanıza yeni bir hava katın!!</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
*@
    <div class="container body-content">

          @RenderBody()
        <hr/>

        <footer>
            <div style="background-color: #490202" class="pre-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 pre-footer-col">

                            <div class="col-md-3 col-sm-6 pre-footer-col">
                                <p>
                                <font color=#FBDCDC face='Wellfleet'cursive;>
                                    <h4>  <p> &copy; @DateTime.Now.Year - TUĞÇE HIZIR</p>
                                   </h4>  
                                </font> 
                            </div>
                                  <div class="col-md-3 col-sm-6 pre-footer-col">
                                 </div>
                            <div class="col-md-3 col-sm-6 pre-footer-col">
                                <font color=#FBDCDC face='Wellfleet'cursive;>
                                    <u><h4>Bize Ulaşın:</h4></u>
                                    <address class="margin-bottom-40">
                                        <h5> <i class="fa fa-phone"></i> Telefon
                                </font>
                                <font color=#A09898> 264 123 45 67<br> </font>
                                <font color=#FBDCDC face='Wellfleet'cursive;>
                                    <i class="fa fa-envelope-o"></i>  Eposta: <span style="color:#A10606" </span>
                              </font>
                                <font color=#A09898>
                                    @* <a href="mailto:info@tucedekor.com"> *@ 
                                    info@tugcedekor.com
                                    </h5>
                                </font>
                                </adress>
</div>
                            <div class="col-md-3 col-sm-6 pre-footer-col">
                                <font color=#FBDCDC face='Wellfleet'cursive;>
                                    <u><h4>Sosyal Medya:</h4></u>
                                    </font>
                                    <h5>
                                        <font color=#FBDCDC>
                                            <i class="fa fa-twitter" aria-hidden="true"></i> </font>
                                            <font color=#A09898> tugcehzr <br /></font>
                                        <font color=#FBDCDC>
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </font>
                                            <font color=#A09898> tugcehzr <br /> </font>
                                        <font color=#FBDCDC>
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i> </font>
                                            <font color=#A09898>tugcehzr <br /> </font>
</h5>
</div>
                            </div>
                </div>
            </div>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>
</body>
</html>
